# String

In [155]:
name1="my name is Ritesh"

In [156]:
name2="My surname is Honnalli"

In [157]:
name1+" "+name2

'my name is Ritesh My surname is Honnalli'

In [158]:
# casefold: converts string into lowercase
str.casefold(name1)

'my name is ritesh'

In [159]:
# capitalize:converts first letter into uppercase
str.capitalize(name1)

'My name is ritesh'

In [160]:
str.casefold(name2)

'my surname is honnalli'

In [162]:
# isdigit:Returns True if all characters in the string are digits
name1.isdigit()

False

In [161]:
# endswith:Returns true if the string ends with the specified value
name1.endswith("ritesh")

False

In [163]:
name1.strip()

'my name is Ritesh'

In [164]:
#title :Converts the first character of each word to upper case
str.title(name1)

'My Name Is Ritesh'

# List

In [170]:
lst= ["Ritesh RH",[1,2,2,3],101.1,10]

In [171]:
lst

['Ritesh RH', [1, 2, 2, 3], 101.1, 10]

In [172]:
#append:adds string to end of list
lst.append("student")

In [173]:
lst

['Ritesh RH', [1, 2, 2, 3], 101.1, 10, 'student']

In [174]:
#index: gives index of the object
lst.index(101.1)

2

In [175]:
#remove: removes the object from the list
lst.remove(10)

In [176]:
lst

['Ritesh RH', [1, 2, 2, 3], 101.1, 'student']

In [177]:
#nsert:inserts the object at particular place
lst.insert(1,8)

In [178]:
lst

['Ritesh RH', 8, [1, 2, 2, 3], 101.1, 'student']

In [179]:
#clear:clears the list
lst.clear()

In [180]:
lst

[]

# dictionaries

In [199]:
dit={"name":"Lavya Mahajan", "phone no":1234567, "age":20}

In [200]:
dit

{'name': 'Lavya Mahajan', 'phone no': 1234567, 'age': 20}

In [183]:
#value:gives all the value of dictionary
dict.values(dit)

dict_values(['Lavya Mahajan', 1234567, 20])

In [184]:
#key:gives all the keys of dictionary
dit.keys()

dict_keys(['name', 'phone no', 'age'])

In [185]:
#get:gives the value for the key
dit.get("name")

'Lavya Mahajan'

In [194]:
#items: displays all the items of dictionary
dit.items()

dict_items([])

In [187]:
#clear:Clears all the data from dictionary
dit.clear()

In [188]:
dit

{}

In [189]:
dit.get("1234567")

In [201]:
#pop:gives the value for the key
dit.pop("name")

'Lavya Mahajan'

In [197]:
dit["school"] = "chinmaya"

In [198]:
dit

{'school': 'chinmaya'}

# Sets

In [191]:
st= {"Bhoomi","KLE",(80,80,20,90,90),1,2,3,2,2,2}

In [192]:
st

{(80, 80, 20, 90, 90), 1, 2, 3, 'Bhoomi', 'KLE'}

In [193]:
#add:adds object to set
st.add(4)

In [125]:
st

{(80, 80, 20, 90, 90), 1, 2, 3, 4, 'Bhoomi', 'KLE'}

In [126]:
st1={1,2,3,4}

In [127]:
#issubset:checks if one set is subset of other
st1.issubset(st)

True

In [128]:
#isdisjoint:checks if one set is disjoint of other
st1.isdisjoint(st)

False

In [129]:
st2= {"Harshita",1,2,8,9}

In [130]:
#difference:dispalys diffrence between 2 sets
st2.difference(st)

{8, 9, 'Harshita'}

In [131]:
st2.add(10)

In [133]:
#difference_update: displays the updated set
st2.difference_update(st)

In [135]:
#clear: clears the set
st2.clear()

In [136]:
st2

set()

# tuple

In [137]:
tup=("Chirag","$","student",1,2,3)

In [138]:
tup

('Chirag', '$', 'student', 1, 2, 3)

In [142]:
#count:counts the number of letter
tup.count("$")

1

In [143]:
#index:gives the index value
tup.index(1)

3