# String

In [148]:
name1="my name is gunjan"

In [149]:
name2="My surname is Mahajan"

In [150]:
name1+" "+name2

'my name is gunjan My surname is Mahajan'

In [151]:
# capitalize:converts first letter into uppercase
str.capitalize(name1)

'My name is gunjan'

In [152]:
# casefold: converts string into lowercase
str.casefold(name1)

'my name is gunjan'

In [154]:
str.casefold(name2)

'my surname is mahajan'

In [59]:
# endswith:Returns true if the string ends with the specified value
name1.endswith("gunjan")

True

In [60]:
# isdigit:Returns True if all characters in the string are digits
name1.isdigit()

False

In [62]:
name1.strip()

'my name is gunjan'

In [63]:
#title :Converts the first character of each word to upper case
str.title(name1)

'My Name Is Gunjan'

# List

In [146]:
lst= ["Gunjan Mahajan",[1,2,2,3],10.1,10]

In [147]:
lst

['Gunjan Mahajan', [1, 2, 2, 3], 10.1, 10]

In [67]:
#append:adds string to end of list
lst.append("engineering")

In [68]:
lst

['Gunjan Mahajan', [1, 2, 2, 3], 10.1, 10, 'engineering']

In [73]:
#index: gives index of the object
lst.index(10.1)

2

In [76]:
#remove: removes the object from the list
lst.remove(10)

In [78]:
lst

['Gunjan Mahajan', [1, 2, 2, 3], 10.1, 'engineering']

In [80]:
#nsert:inserts the object at particular place
lst.insert(1,8)

In [81]:
lst

['Gunjan Mahajan', 8, [1, 2, 2, 3], 10.1, 'engineering']

In [84]:
#clear:clears the list
lst.clear()

In [83]:
lst

[]

# dictionaries

In [103]:
dit={"name":"Lavya Mahajan", "phone no":1234567, "age":20}

In [104]:
dit

{'name': 'Lavya Mahajan', 'phone no': 1234567, 'age': 20}

In [93]:
#value:gives all the value of dictionary
dict.values(dit)

dict_values(['Lavya Mahajan', 1234567, 20])

In [94]:
#key:gives all the keys of dictionary
dit.keys()

dict_keys(['name', 'phone no', 'age'])

In [106]:
#get:gives the value for the key
dit.get("name")

'Lavya Mahajan'

In [97]:
#items: displays all the items of dictionary
dit.items()

dict_items([('name', 'Lavya Mahajan'), ('phone no', 1234567), ('age', 20)])

In [98]:
#clear:Clears all the data from dictionary
dit.clear()

In [99]:
dit

{}

In [108]:
dit.get("1234567")

In [109]:
#pop:gives the value for the key
dit.pop("name")

'Lavya Mahajan'

In [112]:
dit["school"] = "chinmaya"

In [113]:
dit

{'phone no': 1234567, 'age': 20, 'school': 'chinmaya'}

# Sets

In [122]:
st= {"Bhoomi","KLE",(80,80,20,90,90),1,2,3,2,2,2}

In [123]:
st

{(80, 80, 20, 90, 90), 1, 2, 3, 'Bhoomi', 'KLE'}

In [124]:
#add:adds object to set
st.add(4)

In [125]:
st

{(80, 80, 20, 90, 90), 1, 2, 3, 4, 'Bhoomi', 'KLE'}

In [126]:
st1={1,2,3,4}

In [127]:
#issubset:checks if one set is subset of other
st1.issubset(st)

True

In [128]:
#isdisjoint:checks if one set is disjoint of other
st1.isdisjoint(st)

False

In [129]:
st2= {"Harshita",1,2,8,9}

In [130]:
#difference:dispalys diffrence between 2 sets
st2.difference(st)

{8, 9, 'Harshita'}

In [131]:
st2.add(10)

In [133]:
#difference_update: displays the updated set
st2.difference_update(st)

In [135]:
#clear: clears the set
st2.clear()

In [136]:
st2

set()

# tuple

In [137]:
tup=("Chirag","$","student",1,2,3)

In [138]:
tup

('Chirag', '$', 'student', 1, 2, 3)

In [142]:
#count:counts the number of letter
tup.count("$")

1

In [143]:
#index:gives the index value
tup.index(1)

3